In [1]:
import tensorflow as tf
import numpy as np

In [4]:
sample = "Mulmi team, cheer-up"
# "Mulmi team, cheer-u" → "Mulmi team, cheer-up"

In [7]:
idx2char = list(set(sample)) # 중복 제거
char2idx = {c: i for i, c in enumerate(idx2char)}
char2idx

{'M': 0,
 't': 1,
 'e': 2,
 ',': 3,
 'm': 4,
 ' ': 5,
 'r': 6,
 'i': 7,
 'u': 8,
 'h': 9,
 '-': 10,
 'a': 11,
 'p': 12,
 'l': 13,
 'c': 14}

In [9]:
dic_size = len(char2idx) #  원핫인코딩 크기 rnn input size
hidden_size = num_classes = dic_size

In [10]:
hidden_size #  output size (최종 출력 X) hidden cell에서의 출력

15

In [12]:
num_classes # 최종 output size(softmax)

15

In [13]:
batch_size = 1 # 데이터 1개 → batch: 업데이트 크기

In [14]:
sequence_length = len(sample) - 1
learning_rate = 0.1

In [31]:
sample_idx = [char2idx[c] for c in sample]
print(sample_idx)
xdata = [sample_idx[:-1]]
print(x)
ydata = [sample_idx[1:]]
print(ydata)

[0, 8, 13, 4, 7, 5, 1, 2, 11, 4, 3, 5, 14, 9, 2, 2, 6, 10, 8, 12]
Tensor("Placeholder:0", shape=(?, 19), dtype=int32)
[[8, 13, 4, 7, 5, 1, 2, 11, 4, 3, 5, 14, 9, 2, 2, 6, 10, 8, 12]]

In [22]:
tf.reset_default_graph()
x = tf.placeholder(tf.int32, [None, sequence_length])
y = tf.placeholder(tf.int32, [None, sequence_length])
x_one_hot = tf.one_hot(x, num_classes)
cell = tf.contrib.rnn.BasicLSTMCell(num_units=hidden_size)
ini_state = cell.zero_state(batch_size, tf.float32)
outputs, _states = tf.nn.dynamic_rnn(cell, x_one_hot, initial_state=ini_state, dtype=tf.float32)

W0822 13:54:52.819814 27424 deprecation.py:506] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0822 13:54:52.829789 27424 deprecation.py:506] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\rnn_cell_impl.py:738: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [39]:
xfc = tf.reshape(outputs, [-1, hidden_size])
outputs = tf.contrib.layers.fully_connected(xfc, num_classes, activation_fn=None)
outputs = tf.reshape(outputs, [batch_size, sequence_length, num_classes])
weights = tf.ones([batch_size, sequence_length])
sequence_loss = tf.contrib.seq2seq.sequence_loss(logits=outputs, targets=y, weights=weights)
loss = tf.reduce_mean(sequence_loss)
train = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(loss)
prediction = tf.argmax(outputs, 2)

In [50]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for i in range(150):
        cv, _ = sess.run([sequence_loss, train], feed_dict={x: xdata, y: ydata})
        res = sess.run(prediction, feed_dict={x: xdata})
        res_str = [idx2char[c] for c in np.squeeze(res)]
        print(i, "loss: ", cv, "prediction", "".join(res_str))

0 loss:  2.7110074 prediction uuuuuuuuuuuuuuuuuuu
1 loss:  2.657538 prediction eeeeeeeeeeeeeeeeeee
2 loss:  2.6572065 prediction eeeeeeeeeeeeeeeeeee
3 loss:  2.5945394 prediction eeeeeeeeeeeeeeeeeee
4 loss:  2.5843546 prediction eeeeeeeeeeeeeeeeeee
5 loss:  2.5773036 prediction eeeeeeeeeeeeeeeeeee
6 loss:  2.5731893 prediction eeeeeeeeeeeeeeeeeee
7 loss:  2.549724 prediction ueeeeeeeeeeeeeeeeee
8 loss:  2.5239646 prediction uueeeeeeeeeeeeeeeee
9 loss:  2.4943154 prediction uuuueeeeeeeeeeeeeee
10 loss:  2.4078412 prediction uuuuueeeeeeeeeeeeee
11 loss:  2.3283362 prediction mmmeeeeeeeeeeeeeeee
12 loss:  2.2274988 prediction mmmeeeeememeeeeeeme
13 loss:  2.0171623 prediction lllemeeel meeeeemll
14 loss:  2.739367 prediction llueeeeeueeeeeeeeue
15 loss:  2.3072693 prediction uuuehhhhuhhhhhhhh h
16 loss:  2.2964926 prediction uuueeeeeueeeeeeeeue
17 loss:  2.0167599 prediction uuu  eeeue eeeeeeue
18 loss:  1.9671414 prediction uuuuu eeu ueeeee ue
19 loss:  2.0579426 prediction uuuuu eeueueeeeeeue
20 loss:  2.0626214 prediction mmm ueeemeueeeeeeme
21 loss:  1.9747039 prediction mmm  eeeme eeeeeeme
22 loss:  1.9349685 prediction mmm  eeeme eeeeeeme
23 loss:  1.8857275 prediction mmm  eeeme e eeeeme
24 loss:  1.8147318 prediction mmm   eeme e eeeeme
25 loss:  1.7936628 prediction mmm   eeme e eeeeme
26 loss:  1.7037612 prediction uuu   eeue eeeeeeue
27 loss:  1.6424103 prediction uuu   eeue eeeeeeue
28 loss:  1.5445888 prediction uuu   eeue eeeeeeue
29 loss:  1.4777664 prediction mum  reeme eeeeeeme
30 loss:  1.4314699 prediction mmm  -eemr rreeerme
31 loss:  1.3974427 prediction mmm   eemr rreerrmr
32 loss:  1.3486217 prediction mmm  reemr rreerrmr
33 loss:  1.3131807 prediction uuu  reeur rteerrup
34 loss:  1.2613982 prediction uuu  reeur r eectup
35 loss:  1.345931 prediction u u  reeup pceeepup
36 loss:  1.3407733 prediction mmm  tepmc c eapcmp
37 loss:  1.29726 prediction mmm   eemc tteepcmp
38 loss:  1.1990244 prediction uuu  teeu, cceee,ur
39 loss:  1.2219727 prediction uuu  terur cceerrur
40 loss:  1.1453714 prediction mlm  teem, c,eer,mr
41 loss:  1.1134961 prediction llm  teem, t,eer,mr
42 loss:  1.0941286 prediction mlm  teem,lt,eer,mr
43 loss:  1.072023 prediction ulu  teeu, t,eer,ur
44 loss:  0.9541366 prediction ulu  teau,tt,eea,up
45 loss:  1.0877093 prediction u u  teau,tc-eep,up
46 loss:  1.1613451 prediction mmm  teem,tt-eerpmp
47 loss:  1.092665 prediction mmm   epmhttherp-m,
48 loss:  1.3536444 prediction uuu  teeu,ttheee,ur
49 loss:  1.1801558 prediction uuu  teeu,ttheee,ur
50 loss:  1.0554575 prediction uum  term,ttteer,u,
51 loss:  1.0345068 prediction m m  team,tcheer,mr
52 loss:  0.93161845 prediction mlm  ceem-cc,eer,mr
53 loss:  0.95555836 prediction mlm  cerm,ccheer,mp
54 loss:  0.86647177 prediction mlm  ceam,ccheep,lp
55 loss:  0.8435205 prediction ulm lceem,ccheea,up
56 loss:  0.8208639 prediction ulm  ceeu,ccheea,up
57 loss:  0.7391887 prediction ulm  ceam,ccheep,up
58 loss:  0.6686507 prediction ulmiicerm-ccheer-mp
59 loss:  0.7357537 prediction ulm  ceru-cc-eer-ir
60 loss:  1.2925184 prediction uum   eam-ccceer-u-
61 loss:  0.6616059 prediction uum   eam,  heea-mp
62 loss:  0.8057013 prediction uuu   eau,  heea-up
63 loss:  0.8422526 prediction uum   eam,  heep,mp
64 loss:  0.75075674 prediction ulm  team, t,eep,mp
65 loss:  0.67218095 prediction ulm  team, hheer,up
66 loss:  0.521253 prediction ulm  teau, cheer,up
67 loss:  0.55275476 prediction ulm  caam, chaar-up
68 loss:  0.7040113 prediction ulm  ceem- hheeerur
69 loss:  2.0105476 prediction ulm  termh tteephup
70 loss:  0.86457956 prediction ulm  tepmh ttee,hu-
71 loss:  1.3414798 prediction ulm  term, tteep,ur
72 loss:  0.7867691 prediction ulmi ceemrtcheerpur
73 loss:  1.3237303 prediction ulmliterm,icceer,up
74 loss:  0.8066116 prediction ulmii epm,itceep,lp
75 loss:  0.83823776 prediction ulm  cepm, cceep,up
76 loss:  0.6610569 prediction ulm cceem, cheer,up
77 loss:  0.7379711 prediction ulm  ceem, hheee,ur
78 loss:  0.6158028 prediction ulmi  eam,  heer,u-
79 loss:  0.64673173 prediction ulmi  eam,  heer,u-
80 loss:  0.6557007 prediction ulm  ceam, c,eea,ua
81 loss:  0.6070278 prediction ulm  ceam- c,eea,ua
82 loss:  0.5801851 prediction ulm  ceam, cceea,ua
83 loss:  0.5855762 prediction ulm  ceam, cheea-ua
84 loss:  0.5005552 prediction ulm  team, c,eea-up
85 loss:  0.48910317 prediction ulm  team, theea-up
86 loss:  0.42678633 prediction ulmi team, theep-up
87 loss:  0.44127584 prediction ulmi term, theer-up
88 loss:  0.41176912 prediction ulmi term- cheer-up
89 loss:  0.4313763 prediction ulmi term- cheer-up
90 loss:  0.40486145 prediction ulmi cerm, cheer-up
91 loss:  0.38872275 prediction ulmi ceam- cheer-up
92 loss:  0.35050368 prediction ulmi ceam- cheea-up
93 loss:  0.33589253 prediction ulmi ceam- cheea-up
94 loss:  0.31441668 prediction ulmi team- cheea-up
95 loss:  0.3230962 prediction ulmi team- cheea-up
96 loss:  0.2892969 prediction ulmi team- cheer-up
97 loss:  0.2727212 prediction ulmi team- cheer-up
98 loss:  0.26652968 prediction ulmi team, cheerpup
99 loss:  0.26250163 prediction ulmi teamh theer-up
100 loss:  0.29584217 prediction ulmi team, hheer-up
101 loss:  0.24686497 prediction ulmi team, theea-up
102 loss:  0.2479204 prediction ulmi team- theea-up
103 loss:  0.23314689 prediction ulmi ceam- cheer-up
104 loss:  0.21498206 prediction ulmi ceam- cheer-up
105 loss:  0.232566 prediction ulmi ceam- cheer-up
106 loss:  0.19811648 prediction ulmi team, theer-up
107 loss:  0.19291355 prediction ulmi team, theer-up
108 loss:  0.1862231 prediction ulmi team, cheer-up
109 loss:  0.15166461 prediction ulmi ceam, cheer-up
110 loss:  0.145812 prediction ulmi team, cheer-up
111 loss:  0.13231513 prediction ulmi team, cheer-up
112 loss:  0.11080931 prediction ulmi team, cheer-up
113 loss:  0.10131647 prediction ulmi team, cheer-up
114 loss:  0.07045515 prediction ulmi team, cheer-up
115 loss:  0.074693315 prediction ulmi team, cheer-up
116 loss:  0.05135442 prediction ulmi team, cheer-up
117 loss:  0.0420319 prediction ulmi team, cheer-up
118 loss:  0.027910985 prediction ulmi team, cheer-up
119 loss:  0.033012874 prediction ulmi team, cheer-up
120 loss:  0.021832772 prediction ulmi team, cheer-up
121 loss:  0.020420376 prediction ulmi team, cheer-up
122 loss:  0.02356784 prediction ulmi team, cheer-up
123 loss:  0.020691147 prediction ulmi team, cheer-up
124 loss:  0.017394243 prediction ulmi team, cheer-up
125 loss:  0.017354254 prediction ulmi team, cheer-up
126 loss:  0.013142114 prediction ulmi team, cheer-up
127 loss:  0.007994078 prediction ulmi team, cheer-up
128 loss:  0.008414849 prediction ulmi team, cheer-up
129 loss:  0.008558839 prediction ulmi team, cheer-up
130 loss:  0.007283322 prediction ulmi team, cheer-up
131 loss:  0.0057652653 prediction ulmi team, cheer-up
132 loss:  0.005513805 prediction ulmi team, cheer-up
133 loss:  0.0056981584 prediction ulmi team, cheer-up
134 loss:  0.00501446 prediction ulmi team, cheer-up
135 loss:  0.003916432 prediction ulmi team, cheer-up
136 loss:  0.0030903732 prediction ulmi team, cheer-up
137 loss:  0.00249223 prediction ulmi team, cheer-up
138 loss:  0.0021995886 prediction ulmi team, cheer-up
139 loss:  0.0020756044 prediction ulmi team, cheer-up
140 loss:  0.002036732 prediction ulmi team, cheer-up
141 loss:  0.0019047833 prediction ulmi team, cheer-up
142 loss:  0.0015995713 prediction ulmi team, cheer-up
143 loss:  0.0012509384 prediction ulmi team, cheer-up
144 loss:  0.0009971752 prediction ulmi team, cheer-up
145 loss:  0.00085578486 prediction ulmi team, cheer-up
146 loss:  0.0007878095 prediction ulmi team, cheer-up
147 loss:  0.00075923087 prediction ulmi team, cheer-up
148 loss:  0.00073813426 prediction ulmi team, cheer-up
149 loss:  0.0007171359 prediction ulmi team, cheer-up

In [52]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [53]:
dataset = [["사과", "치즈", "생수"],
           ["생수", "호두", "치즈", "고등어"],
           ["수박", "사과", "생수"],
           ["생수", "호두", "치즈", "옥수수"]]

In [56]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary # true = 구매, Flase = 비구매

array([[False,  True,  True, False, False,  True, False],
       [ True, False,  True, False, False,  True,  True],
       [False,  True,  True,  True, False, False, False],
       [False, False,  True, False,  True,  True,  True]])

In [60]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

In [62]:
freq_item = apriori(df, min_support = 0.5, use_colnames=True)
freq_item

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (사과, 생수)
5     0.75      (치즈, 생수)
6     0.50      (호두, 생수)
7     0.50      (호두, 치즈)
8     0.50  (호두, 치즈, 생수)

In [63]:
from mlxtend.frequent_patterns import association_rules

In [65]:
association_rules(freq_item, metric="confidence", min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
1,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
2,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
3,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
4,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
5,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
6,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
7,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
8,"(호두, 치즈)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
9,"(호두, 생수)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
10,"(치즈, 생수)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
11,(호두),"(치즈, 생수)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
12,(치즈),"(호두, 생수)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
13,(생수),"(호두, 치즈)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0